[MASTER]
init-hook="from pylint.config import find_pylintrc; import os, sys; sys.path.append(os.path.dirname(find_pylintrc()))"
fail-under=9.5

[MESSAGES CONTROL]
disable=missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    import-outside-toplevel,
    import-self,
    redefined-builtin,
    redefined-outer-name,
    unused-import,
    wrong-import-order,
    use-list-literal,
    use-dict-literal,
    unspecified-encoding,

[FORMAT]
max-line-length=120
max-args=15
max-attributes=15
max-statements=60
max-branches=20
max-nested-blocks=10